h2{
    text-align:center;
}
.calculator_grid{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid black 5px;
}

.social{
    border-right: solid black 5px;
}

.social div{
    text-align: center;
    background-color: rgba(0, 0,0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    width: 1fr;
    margin-bottom: 3px;
}

#SAT_output{
    margin-left: 20px;
}

.SAT div{
    text-align: center;
    background-color: rgba(0, 0,0, 0.3);
    margin-left: 0px;
    margin-right: 20px;
    width: 1fr;
    margin-bottom: 3px;
}

.result{
    background-color: rgba(0, 0,0, 0.3);
}

.calculator_grid>div{
    border-bottom: solid 5px black;
}

#last{
    border-bottom: none;
}

#last2{
    border-right: none;
    border-bottom: none;
}

@media(max-width:800px){
    .calculator_grid{
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: 1fr;
    }

    .social{
        border-right: none;
        border-bottom: solid black 5px;
    }

}